body {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #464646;
}

h1 {
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: bold;
  color: #000;
}

h2 {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 61px;
  font-weight: bold;
  color: #000;
}

h3 {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: #000;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 1160px;
  
  margin: 0 auto;
  padding: 0 20px;
}

button {
  background: none;
  border: none;
}

.btn {
  position:relative;
  display: inline-block;
  
  width: 220px;
  

  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-bottom: 50px;
  
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  color: #000;
  
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  z-index: -1;
  
  width: 220px;
  height: 8px;
  
  background-color: rgb(240, 197, 46);
}

.btn:hover  {
  background-color: rgb(240, 197, 46);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Хэдер */
.main-header {
  padding-top: 1px;
  padding-right: 60px;
  padding-bottom: 160px;
  padding-left: 60px;
  margin-top: 40px;
  
  background-color: #f7e296;
}

.main-header .main-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header .logo {
  width: 164px;
  
  margin-top: -32px;
}

.main-header .search-column {
  display: flex;
  flex-direction: column;
  
  width: 440px;
}
/* Поиск по сайту */
.search-column .search-input {
   margin-bottom: 32px;
}

.search-input .search-button {
  margin-right: 5px;
  
  background: none;
  border: none;
}

.search-input .search-button-icon {
  vertical-align: middle;
}
  
.search-input .search-field {
  width: 315px;
  
  background: none;
  border: none;
  
  opacity: 0.3;
}

.search-input .search-field:hover,
.search-input .search-field:focus {
  opacity: 1;
  outline: none;
}

.search-input .search-button-name {
  display: none;
  
  padding: 6px 20px;
  
  font-size: 15px;
  line-height: 36px;
  
  background: none;
  border: none;
}

/* Каталог товаров */
.search-column .search-catalog {
  position: relative;
}

.search-catalog .search-catalog-btn {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  background: none;
  border: none;
  
  color: #000;
}

.search-catalog .search-catalog-btn-icon {
  position: relative;
  top: 2px;
  
  opacity: 0.3;
}

.search-catalog .search-catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 670px;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.search-catalog-list .search-list-item {
  margin-left: 60px;
}

/* Навигация пользователя */
.main-header .user-nav-column {
  display: flex;
  flex-direction: column;
  
  width: 500px;
}

.main-header .header-user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 40px;
}

.header-user-block a {
  text-decoration: none;
  
  color: #000;
}

.header-user-block svg {
  margin-right: 5px;
}

.header-user-block .compare {
  margin-left: 200px;
}

.main-header .header-nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav-block a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  
  color: #000;
}

.header-nav-block a:last-of-type {
  margin-right: -3px;
}

.header-nav-block .contacts {
  margin-left: 100px;
}

/* Главная часть */

/* Слайдер */
.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 105px;
}

.slider-img {
  width: 384px;
  height: 486px;
  
  margin-top: -110px;
  margin-left: 90px;
}

.slider-info {
  margin-top: -123px;
  margin-right: 60px;
  
  
  width: 500px;
}

.slider-design {
  display: flex;
  flex-direction: row;
}

.slider-design-hr {
  margin-top: 50px;
  margin-left: 0;
  
  height: 7px;
  width: 100px;
  
  background-color: #fff;
  border: none;
}

.slider-design-number {
  margin-right: -10px;
  
  font-family: "Gilroy", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: bold;
  color: #fff;
}

.slider-head {
  display: block;
  margin-top: -90px;
  padding-right: 108px;
  
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 61px;
  font-weight: bold;
  
  color: #000;
}

.slider-text {
  margin-bottom: 45px;
  padding-right: 10px;
}

.slider-table-info {
  margin-top: -10px;
  
  border-collapse: separate;
  border-spacing: 0 6px;
  width: 500px;
}

.slider-table-info .row-1 {
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  line-height: 47px;
}

.slider-table-info .row-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

/* Список категорий */
.items-list-block {
  margin-bottom: 175px;
}

.items-list-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.items-list-ul li {
  width: 160px;
}

.items-list-icon {
  display: table-cell;
  
  width: 160px;
  height: 160px;
  
  text-align: center;
  vertical-align: middle;
  
  
  background-color: #f7e296;
}

.items-list-icon svg {
  vertical-align: middle;
}

.items-list-name {  
  text-decoration: none;
}

/* Слайдер с возможностями компании */
.opportunity-slider {
  margin-bottom: 94px;
  
  min-height: 288px;
  
  background-color: #e5e5e5;
}

.opportunity-slider .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opportunity-head-column {
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  width: 284px;
}

.opportunity-head-column::before {
  content: "";
  position: absolute;
  top: -80px;
  right: 0;
  
  width: 7px;
  height: 319px;
  
  background-color: #000;
}

.opportunity-head-column .btn {
  width: 160px;
  
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 23px;
}

.opportunity-head-column .btn::before {
  width: 160px;
  top: 17px;
}

.active-for-opportun
 {
  padding-top: 9px;
  padding-right: 115px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-bottom: 20px;
  
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  background-color: #000;
  color: #f7e184;
}

.opportunity-info-column {
  display: flex;
  flex-direction: row;
  
  margin-top: -71px;
  margin-left: 120px;
  
  width: 800px;
}

.opportunity-info-column h2 {
  margin-bottom: 25px;
}

.opportunity-info-column p {
  padding-right: 150px;
}

.opportunity-info-img {
  margin-right: 65px;
  margin-top: 56px;
}

.opportunity-info-column .delivery-img {
  width: 136px;
  height: 164px;
}

/* Блок с партнерами компании */
.friends-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 90px;
}

/* Блок о компании */
.company-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 85px;
}

.company-decor-hr {
  margin-left: 0;
  
  width: 80px;
  height: 6px;
  
  background-color: #000;
  
  border: none;
}

.about-us-column {
  display: flex;
  flex-direction: column;
  
  width: 500px;
}

.about-us-column h2 {
  margin-bottom: 17px;
}

.about-us-column p {
  padding-right: 29px;
  margin-bottom: 60px;
}

.about-us-column .trade-companies-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  
  list-style: none;
}

.trade-companies-list li {
  position: relative;
  
  padding-left: 35px;
}

.trade-companies-list li::before {
  content: "";
  position: absolute;;
  
  top: 16px;
  left: 0;
  
  width: 4px;
  height: 4px;
  
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.btn-our-company {
  width: 260px;
}

.btn-our-company::before {
  width: 260px;
}

.contacts-column {
  width: 600px;
}

.contacts-column p {
  padding-right: 20px;
  margin-bottom: 36px;
}

.contacts-column .map {
  width: 560px;
  height: 222px;
  
  margin-bottom: 71px;
}

/* Подвал сайта */
.main-footer {
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.main-footer .user-nav-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer .logo {
  margin-top: 50px;
  
  color: #ffc600;
}

.main-footer .footer-user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 315px;
} 

.footer-user-block a {
  text-decoration: none;
  
  color: #fff;
}

.footer-user-block svg {
  fill: #ffc600;
}

.main-footer .device-opportunities-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-top: -25px;
  margin-bottom: 50px;
  
  color: #fff;
}

.device-opportunities-line .footer-opportunities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 440px;
}

.footer-opportunities a {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  
  color: #fff;
}

.main-footer .social-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 50px;
}

.main-footer .decoration-hr {
  margin-left: 0;
  
  width: 80px;
  height: 7px;
  
  background-color: #ffc600;
  border: none;
}

.main-footer .social-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 160px;
}

.social-block .social-btn {
  opacity: 0.3;
}