@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #464646;
}

h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: bold;
  color: #000;
}

h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 61px;
  font-weight: bold;
  color: #000;
}

h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: #000;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 1160px;
  
  margin: 0 auto;
  padding: 0 20px;
}

button {
  background: none;
  border: none;
}

.btn {
  position:relative;
  display: inline-block;
  
  width: 220px;
  

  padding-top: 9px;
  padding-bottom: 9px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  color: #000;
  
  z-index: 1;
}

.slider-info .btn {
  margin-bottom: 54px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  z-index: -1;
  
  width: 220px;
  height: 8px;
  
  background-color: rgb(240, 197, 46);
}

.btn:hover::before {
  top: 0;
  
  height: 40px;
}


.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Стилизация для главной страницы */
/* Стилизация каталога после футера */
/* Шапка */
.main-header {
  padding-top: 1px;
  padding-right: 60px;
  padding-bottom: 160px;
  padding-left: 60px;
  margin-top: 40px;
  
  background-color: #f7e296;
}

.main-header .main-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: -19px;
}

.main-header .logo {
  width: 164px;
  
  margin-top: -32px;
  margin-left: -2px;
}

.main-header .logo-link {
  text-decoration: none;
  
  color: #000;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}


.main-header .search-column {
  display: flex;
  flex-direction: column;
  
  width: 440px;
}

/* Поиск по сайту */
.search-column .search-form-block {
  margin-bottom: 28px;
}

.search-form-block .search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  top: 7px;
  left: 2px;
}

.search-form .search-field {
  margin-top: -10px;
  margin-left: 37px;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  
  background: none;
  border: none;
  
  opacity: 0.3;
  outline: none;
}

.search-form .search-field:hover {
  opacity: 0.6;
}

.search-form .search-field:focus {
  opacity: 1;
}

.search-form .search-button {
  display: none;
  
  margin-top: -39px;
  margin-left: 353px;
  padding: 0;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  
  border: 2px solid #000;
  border-bottom: none;
}

.search-form .search-button::before {
  content: "";
  position: absolute;
  
  top: 37px;
  left: 0;
  
  width: 440px;
  height: 2px;
  
  background-color: #000;
}

.search-form .search-field:focus ~ .search-button {
  display: block;
}
/* Каталог товаров */
.search-column .search-catalog {
  position: relative;
  
  width: 250px;
  
  margin-top: 8px;
  
  line-height: 10px;
}

.search-catalog .search-catalog-btn {
  padding-right: 20px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-decoration: none;
  
  color: #000;
}

.search-catalog-btn:hover span {
  opacity: 0.6;
}

.search-catalog-btn:active span {
  opacity: 0.3;
}

.search-catalog:hover .search-catalog-lists {
  display: flex;
}

.search-catalog .search-catalog-btn-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  
  opacity: 0.3;
}

.search-catalog .search-catalog-lists {
  position: absolute;
  
  z-index: 10;
  
  top: 20px;
  left: -60px;
  
  display: none;
  
  width: 1141px;
  
  padding-top: 0px;
  padding-bottom: 35px;
  padding-left: 19px;
  
  background-color: #f7e296;
}

.search-catalog-lists ul {
  list-style: none;
}

.search-catalog-lists a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  
  text-decoration: none;
  
  color: #000;;
}

.search-catalog-lists a:hover {
  opacity: 0.6;
}

.search-catalog-lists a:active {
  opacity: 0.3;
}

/* Навигация пользователя */
.main-header .user-nav-column {
  display: flex;
  flex-direction: column;
  
  width: 500px;
  min-height: 90px;
}

.main-header .header-user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-bottom: 40px;
}

.main-header .user-opportunities-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 220px;
}

.user-opportunities-block .compare {
  margin-left: 10px;
}

.header-user-block a {
  text-decoration: none;
  
  color: #000;
}

.header-user-block a:hover {
  opacity: 0.6;
}

.header-user-block a:active {
  opacity: 0.3;
}

.header-user-block svg {
  margin-right: 10px;
  margin-left: -5px;
}

.enter-out-block {
  display: flex;
  flex-wrap: wrap;
}

.enter-out-block .enter{
  flex-wrap: wrap;
  
  width: 160px;
  
  padding-left: 5px;
}

.enter-out-block .out {
  margin-left: 13px;
  
  opacity: 0.3;
}

.main-header .header-nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-nav-block a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-decoration: none;
  
  color: #000;
}

.header-nav-block a:hover {
  opacity: 0.6;
}

.header-nav-block a:active {
  opacity: 0.3;
}

.header-nav-block a:last-of-type {
  margin-right: -3px;
}

.header-nav-block .guarantee {
  margin-right: 70px;
}

/* Главная часть */

/* Слайдер */
.slider {
  position: relative;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 105px;
}

.slider-img {
  align-self: center;
  
  margin-top: -110px;
  margin-left: 90px;
}

.slider .slide:nth-child(1) .slider-img {
  height: 486px;
}

.slider .slide:nth-child(2) .slider-img {
  height: 486px;
}

.slider .slide:nth-child(3) .slider-img {
  margin-left: 40px;
  
  height: 334px;
}

.slider .slide:nth-child(3) {
   margin-bottom: 108px;
}

.slider-info {
  margin-top: -123px;
  margin-right: 60px;
  
  
  width: 500px;
}

.slider-info .btn {
  margin-top: -3px;
  
  letter-spacing: 3.5px;
}

.slider-design {
  display: flex;
  flex-direction: row;
}

.slider-design-hr {
  margin-top: 50px;
  margin-left: 0;
  
  height: 7px;
  width: 100px;
  
  background-color: #fff;
  border: none;
}

.slider-design-number {
  margin-top: -1px;
  margin-right: -10px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: bold;
  color: #fff;
}

.slider-head {
  display: block;
  margin-top: -87px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: bold;
  letter-spacing: 0.6px;
  
  color: #000;
}

.slider-text {
  margin-top: 18px;
  margin-bottom: 45px;
  padding-right: 10px;
}

.slide:nth-child(2) .slider-text {
  padding-right: 60px;
}

.slide:nth-child(3) .slider-text {
  padding-right: 60px;
}

.slider-table-info {
  margin-top: -4px;
  
  border-collapse: collapse;
  
  width: 500px;
}

.slider-table-info .row-1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 47px;
}

.slider-table-info .row-1 td {
  padding-bottom: 7px;
}

.slider-table-info .row-2 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slide {
  display: none;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 219px;
  right: 83px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 78px;
}

.slider-controls label {
  width: 8px;
  height: 8px;
  
  border: 2px solid #000;
  border-radius: 50%;
      
  cursor: pointer;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: flex;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: flex;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: flex;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: -1px -1px;
}

/* Список категорий */
.items-list-block {
  margin-bottom: 165px;
}

.items-list-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.items-list-ul li {
  width: 160px;
}

.items-list-icon {
  display: table-cell;
  
  width: 160px;
  height: 160px;
  
  text-align: center;
  vertical-align: middle;
  
  
  background-color: #f7e296;
}

.items-list-ul li:nth-child(2) .items-list-icon {
  vertical-align: bottom;
}

.items-list-name {
  display: block;
  
  text-decoration: none;
}

.items-list-ul li:nth-child(2) h3 {
  padding-right: 50px;
}

.items-list-name h3 {
  margin-top: 35px;
}

.items-list-name:hover .items-list-icon {
  background-color: #f0c52e;
}

.items-list-name:active svg,
.items-list-name:active h3 {
  opacity: 0.3;
}

.items-list-icon svg {
  vertical-align: middle;
}

/* Слайдер с возможностями компании */
.opportunity-slider {
  margin-bottom: 94px;
  
  min-height: 288px;
  
  background-color: #e5e5e5;
}

.opportunity-slider .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opportunity-head-column {
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  width: 284px;
  
  padding-right: 5px;
  margin-top: -20px;
}

.opportunity-head-column::before {
  content: "";
  position: absolute;
  top: -80px;
  right: 0;
  
  width: 7px;
  min-height: 319px;
  
  background-color: #000;
}

.opportunity-head-column .btn {
  width: 160px;
  
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  
  outline: none;
}

.opportunity-head-column .btn::before {
  width: 160px;
}

.opportunity-head-column .btn-guarantee {
  margin-top: 3px;
}

/*
.active-for-opportun
 {
  padding-top: 9px;
  padding-right: 100px;
  padding-bottom: 9px;
  padding-left: 21px;
  margin-bottom: 20px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  background-color: #000;
  color: #f7e184;
}
*/

.opportunity-info-column {
  display: flex;
  flex-direction: row;
  
  margin-top: -71px;
  margin-left: 116px;
  
  width: 800px;
}

.opportunity-info-column h2 {
  margin-bottom: 25px;
}

.opportunity-info-column p {
  padding-right: 110px;
  letter-spacing: 0.35px;
}

.opportunity-info-img {
  margin-right: 106px;
  margin-top: 56px;
}

.opportunity-info-column .delivery-img {
  width: 136px;
  height: 164px;
}

.opportunity-slide {
  display: none;
}

.opportunity-slider input[type="radio"] {
  display: none;
}

#delive:checked ~ .opportunity-slides .opportunity-slide:nth-child(1) {
  display: flex;
}

#warran:checked ~ .opportunity-slides .opportunity-slide:nth-child(2) {
  display: flex;
}

#cred:checked ~ .opportunity-slides .opportunity-slide:nth-child(3) {
  display: flex;
}

#delive:checked ~ .opportunity-head-column label[for="delive"],
#warran:checked ~ .opportunity-head-column label[for="warran"],
#cred:checked ~ .opportunity-head-column label[for="cred"] {
  
  padding-right: 120px;
  
  
  background-color: #000;
  color: #f7e184;
}

#delive:checked ~ .opportunity-head-column label[for="delive"]::before,
#warran:checked ~ .opportunity-head-column label[for="warran"]::before,
#cred:checked ~ .opportunity-head-column label[for="cred"]::before {
  display: none;
}

/* Блок с партнерами компании */
.friends-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-bottom: 75px;
}

.friends-block a {
  opacity: 0.1;
}

.friends-block a:hover {
  opacity: 1;
}

/* Блок о компании */
.company-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 80px;
}

.company-decor-hr {
  margin-left: 0;
  
  width: 80px;
  height: 6px;
  
  background-color: #000;
  
  border: none;
}

.about-us-column {
  display: flex;
  flex-direction: column;
  
  width: 500px;
}

.about-us-column h2 {
  margin-top: 34px;
  margin-bottom: 20px;
}

.about-us-column p {
  padding-right: 10px;
  margin-bottom: 15px;
  
  letter-spacing: 0.25px;
}

.about-us-column p:first-of-type {
  padding-right: 35px;
}

.about-us-column p:last-of-type {
  margin-bottom: 65px;
}

.about-us-column .trade-companies-list {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  
  list-style: none;
}

.trade-companies-list li {
  position: relative;
  
  padding-left: 35px;
}

.trade-companies-list li::before {
  content: "";
  position: absolute;;
  
  top: 16px;
  left: 0;
  
  width: 4px;
  height: 4px;
  
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.btn-our-company {
  width: 260px;
}

.btn-our-company::before {
  width: 260px;
}

.contacts-column {
  width: 560px;
}

.contacts-column p {
  padding-right: 20px;
  margin-bottom: 36px;
}

.contacts-column .map {
  width: 560px;
  height: 222px;
  
  margin-bottom: 71px;
}

/* Подвал сайта */
.main-footer {
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

/* Первая линия */
.main-footer .user-nav-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer .logo {
  margin-top: 53px;
  
  color: #ffc600;
}

.main-footer .logo-link {
  text-decoration: none;
  
  color: #ffc600;
}

.main-footer .footer-user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  
  width: 320px;
} 

.footer-user-block a {
  margin-top: 10px;
  
  text-decoration: none;
  letter-spacing: 0.35px;
  
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-block a:active {
  opacity: 0.3;
}

.footer-user-block svg {
  margin-right: 10px;
  margin-left: -5px;
  
  fill: #ffc600;
}

.footer-user-block a:hover svg {
  opacity: 0.6;
}

/* Вторая линия */
.main-footer .device-opportunities-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-top: -30px;
  margin-bottom: 45px;
  
  color: #fff;
}

.device-opportunities-line .footer-opportunities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
  width: 470px;
  
  margin-top: 4px;
  margin-left: -30px;
}

.footer-opportunities a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  
  color: #fff;
}

.footer-opportunities a:hover {
  opacity: 0.6;
}

.footer-opportunities a:active {
  opacity: 0.3;
}

/* Третья линия */
.main-footer .social-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 50px;
}

.main-footer .decoration-hr {
  margin-top: 15px;
  margin-left: 0;
  
  width: 80px;
  height: 7px;
  
  background-color: #ffc600;
  border: none;
}

.main-footer .social-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
  width: 170px;
  
  margin-top: 2px;
  margin-left: -55px;
}

.social-block .social-btn {
  opacity: 0.3;
}

.social-block .social-btn:hover {
  opacity: 0.6;
}

.social-block .social-btn:active {
  opacity: 0.1;
}

.html-academy .social-html {
  display: block;
}

.html-academy .social-html:hover {
  opacity: 0.6;
}

.html-academy .social-html:active {
  opacity: 0.3;
}

/* Стилизация каталога */
/* Шапка */
.main-header-other-page {
  padding-bottom: 43px;
  margin-bottom: 40px;
}

/* Название страницы */
.page-name-block {
  margin-left: 60px;
}

.page-name {
  margin-bottom: 13px;
}

.page-breadcrumbs {
  display: flex;
  flex-direction: row;
  
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  
  list-style: none;
}

.page-breadcrumbs li {
  margin-right: 20px;
}

.page-breadcrumbs a {
  text-decoration: none;
  
  color: #000;
  opacity: 0.3;
}

.page-breadcrumbs a:hover:not(:last-child) {
  opacity: 0.6;
}

.page-breadcrumbs a:active:not(:last-child) {
  opacity: 0.1;
}

.page-breadcrumbs svg {
  position: relative;
  top: -1px;
  
  margin-left: 13px;
}

/* Основная часть страницы */
.main-catalog-block {
  position: relative;
}

.main-catalog-block::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px);
  background-repeat: no-repeat;
}

.main-catalog-block::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  
  background-image: linear-gradient(to bottom, #eeeeee 70px, #ffffff 70px);
  background-repeat: no-repeat;
}

.main-catalog-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  
  z-index: 1;
}

/* Форма сортировки */
.filter {
  width: 200px;
  
  padding-left: 60px;
  padding-right: 70px;
  
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px);
}

.filter-header h2 {
  padding-top: 10px;
  padding-bottom: 13px;
  margin-bottom: 96px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-form fieldset {
  padding: 0;
  
  border: none;
}

.main-form fieldset:last-of-type {
  margin-bottom: 40px;
}

.main-form legend {
  position: relative;
  margin-left: -2px;
  margin-bottom: 20px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  color: #000;
}

.main-form legend::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  
  width: 200px;
  
  border-top: 2px solid #000;
}

.range-filter {
  margin-bottom: 40px;
}

.range-controls {
  position: relative;
  height: 10px;
  
  padding-top: 10px;
}

.range-controls .scale {
  height: 2px;
  
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 1px;
  left: 0;
  
  width: 4px;
  height: 4px;
  
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  
  box-shadow: 0 2px 1px 0 #cfcfcf;
  
  cursor: pointer;
}

.range-controls .toggle:active {
  top: 0;
  
  border: 9px solid #fff;
}

.range-controls .toggle-min {
  left: -8px;
}

.range-controls .toggle-max {
  left: 115px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  
  width: 50%;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  
   opacity: 0.2;
}

.price-controls input {
  width: 60px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  background: none;
  border: none;
}

.filter-color {
  margin-bottom: 50px;
}

.color-list {
  display: flex;
  flex-direction: column;
}

.color-list input[type="checkbox"] {
  display: none;
}

.color-list label {
  position: relative;
  
  display: block;
  
  padding-left: 36px;
  
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 40px;
  
  cursor: pointer;
}

.color-checkbox + label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  
  width: 26px;
  height: 23px;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color-checkbox:checked + label::before{
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color-list label:hover::before {
  opacity: 0.6;
}

.color-list label:active::before {
  opacity: 1;
}

.bluetooth-list {
  display: flex;
  flex-direction: column;
}

.bluetooth-list input[type="radio"] {
  display: none;
}

.bluetooth-list label {
  position: relative;
  
  display: block;
  
  padding-left: 36px;
  
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 40px;
  
  cursor: pointer;
}

.bluetooth-cond + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  
  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-cond:checked + label::before{
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-list label:hover::before {
  opacity: 0.6;
}

.bluetooth-list label:active::before {
  opacity: 1;
}

.sorted-catalog {
  width: 760px;
  
  padding-left: 70px;
  
  background-image: linear-gradient(to bottom, #eeeeee 70px, #ffffff 70px);
}

.main-sort-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 68px;
  
  margin-bottom: 70px;
}

.main-sort-menu h3 {
  padding-top: 8px;
  padding-bottom: 13px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sort-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
  min-width: 300px;
  
  margin: 0;
  margin-top: 25px;
  margin-left: -200px;
  
  padding: 0;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  
  list-style: none;
}

.sort-menu-item a {
  text-decoration: none;
  
  color: #000;
  
  opacity: 0.3;
}

.sort-menu-active a {
  opacity: 1;
}

.sort-menu-item:not(.sort-menu-active) a:hover {
  opacity: 0.6;
}

.sort-menu-item:not(.sort-menu-active) a:active {
  opacity: 1;
}

.sort-menu-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  width: 42px;
}

.sort-menu-order div {
  cursor: pointer;
}

.sort-menu-order div:not(.sort-menu-order-act):hover {
  opacity: 0.4;
}

.sort-menu-order div:not(.sort-menu-order-act):active {
  opacity: 1;
}

.sort-menu-order-act {
  opacity: 0.2;
}

.sorted-catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.sorted-item {
  position: relative;
  
  margin-right: 40px;
  margin-bottom: 45px;
}

.sorted-item:nth-child(2n) {
  margin-right: 0;
}

.sorted-item-new-logo {
  content: "";
  position: absolute;
  top: 29px;
  right: 27px;
  
  width: 60px;
  height: 60px;
  
  border: 2px solid #000;
  border-radius: 50%;
  
  opacity: 0.15;
}

.sorted-item-new-logo span {
  position: absolute;
  top: 22px;
  left: 15px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  
  text-transform: uppercase;
}

.sorted-item-char {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 20px;
}

.sorted-item-name {
  width: 260px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px; 
  font-weight: bold;
  
  text-decoration: none;
  
  color: #000;
}

.sorted-item-price {
  margin-top: 1px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.sorted-item-hover {
  position: absolute;
  top: 171px;
  left: 70px;
  
  display: none;
  flex-direction: column;
}

.sorted-item-hover .add-in-compare {
  align-self: center;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  
  text-decoration: none;
  
  color: #000;
  
  opacity: 0.5;
}

.sorted-item-hover .add-in-compare:hover {
  opacity: 1;
}

.sorted-item-hover .add-in-compare:active {
  opacity: 0.2;
}

.sorted-item-block:hover .sorted-item-img {
  opacity: 0.5;
}

.sorted-item-block:hover .sorted-item-hover {
  display: flex;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-bottom: 73px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  
  background-color: #ebebeb;
}

.paginator a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  color: #000;
}

.paginator .back {
  padding: 27px 30px 27px 30px;
}

.paginator .back:hover {
  background-color: #d9d9d9;
}

.paginator .back:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator .next {
  padding: 27px 30px 27px 30px;
}

.paginator .next:hover {
  background-color: #d9d9d9;
}

.paginator .next:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator-count-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  min-width: 100px;
}

.paginator-count-block a {
  letter-spacing: 0;
  
  opacity: 0.3;
}

.paginator-count-block .paginator-count-active {
  opacity: 1;
}

.paginator-count-block a:not(.paginator-count-active):hover {
  opacity: 0.6;
}

.paginator-count-block a:not(.paginator-count-active):active {
  opacity: 1;
}

.modal-content {
  position: relative;
  
  display: none;
  
  width: 960px;
  
  background-color: #fff;
  
  box-shadow: 0 10px 120px -30px #000;
}

.modal-content-close {
  position: absolute;
  top: 22px;
  right: 22px;
  
  width: 55px;
  height: 55px;
  
  font-size: 0;
  
  background-color: #f7e296;
  
  border-radius: 50%;
  cursor: pointer;
}

.modal-content-close::before, 
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  
  width: 30px;
  height: 2px;
  
  background-color: #fff;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.message-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding-top: 95px;
  padding-bottom: 85px;
  margin: 0 100px;
}

.message-form .name-block {
  width: 360px;
}

.message-form .email-block {
  width: 360px;
}

.message-form .text-block {
  width: 100%;
}

.message-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  
  color: #000;
}

.message-form input {
  width: 320px;
  
  margin-bottom: 20px;
}

.message-form input,
.message-form textarea {
  margin-top: -15px;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #f2f2f2;
  
  border: none;
}

.message-form input:focus,
.message-form textarea:focus {
  opacity: 1;
}

.message-form textarea {
  max-width: 720px;
  
  margin-bottom: 20px;
}

.message-form .btn {
  margin-left: 0;
}